@import "../../utilities.css";

.Card-container {
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs);
  margin-top: var(--m);
}

.Card-container:first-of-type {
  margin-top: var(--l);
}

.Card-storyTitle {
  font-size: 30px;
  margin: var(--s) 0 0;
}

.Card-commentSection {
  padding: var(--m) var(--l);
}

.Card-storyUser {
  font-size: 15px;
  font-weight: 600;
}

.Card-storyContent {
  font-size: 20px;
  margin: var(--s) 0 0;
}

.Card-commentSection {
  background-color: var(--grey);
  border-top: 1px solid var(--darkgrey);
}

.Card-commentBody {
  margin: 0 0 var(--s);
}

.Card-buttonContainer {
  padding: 0 45%;
}

.Card-upbutton {
  max-width: 100%;
  width: 100%;
  height: auto;
  padding-top: 100%;
  background-size: cover;
  background-image: url("../../public/upvote.png");
}

.Card-downbutton {
  max-width: 100%;
  width: 100%;
  height: auto;
  padding-top: 100%;
  background-size: cover;
  background-image: url("../../public/downvote.png");
}

.Card-savebutton {
  background-color: var(--checkbox);
  padding: 0px 10px 0px 10px;
}

.row {
  display: flex;
}

.column {
  padding: 2px;
  flex-basis: 30px;
}
