.Feed-buttonContainer {
  padding: 0 48%;
}

.Feed-button {
  max-width: 100%;
  width: 100%;
  height: auto;
  padding-top: 100%;
  background-size: cover;
  background-image: url("../../public/downvote.png");
}
