.NavBar-container {
  text-align: center;
  padding: var(--s) var(--m);
  background-color: var(--primary);
}

.NavBar-title,
.NavBar-title:visited {
  text-align: center;
  color: var(--black);
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  height: 32px;
}

.NavBar-linkContainer {
  margin-left: var(--l);
}

.NavBar-link,
.NavBar-link:visited {
  text-align: center;
  color: var(--black);
  opacity: 0.6;
  text-decoration: none;
  font-size: 16px;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}

.Navbar-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.Navbar-padding {
  padding: 0px 30px 3px 30px;

}

