.NavBar-container {
  text-align: center;
  padding: var(--s) var(--m);
  background-color: var(--primary);
}

.NavBar-title,
.NavBar-title:visited {
  text-align: center;
  color: var(--black);
  font-size: 20px;
  font-weight: bold;
}

.NavBar-linkContainer {
  margin-left: var(--l);
}

.NavBar-link,
.NavBar-link:visited {
  text-align: center;
  color: var(--black);
  opacity: 0.6;
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}
